@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

.App {
  height: 100vh;
  background-color: #0d1116;
  text-align: center;
  color: white;
  font-family: 'League Spartan', sans-serif;
}

p {
  margin:0;
}

.container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000000 url(../assets/images/nft-ukraine-illustration.png) 50% 50% /cover;
}

.header-container {
  padding-top: 30px;
  position: relative;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw;
  height: 50px;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 38px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

.title p{
  padding: 10px 5px;
}

.title p:first-child{
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}

.title p:last-child{
  padding-right: 10px;
  border-radius: 0 5px 5px 0;
}

.title .blue{
  color: #005BC2;
  background-color:#ffd633;
}

.title .yellow{
  color:#ffd633;
  background-color: #005BC2;
}

.subtitle {
  font-size: 18px;
  color: rgba(0, 0, 0,0.75);
  max-width: 400px;
  width: 100%;
  line-height:24px;
}

.description {
  font-size: 18px;
  line-height: 20px;
  color: rgba(0,0,0,0.6);
  margin: 0 0 1rem 0;
  max-width: 400px;
  width: 100%;
}

.left{
  display: flex;
}

.main-logo{
  height: 100%;
}

.main-logo .main-logo-img, .main-logo .main-logo-img-text{
  height: 100%;
}

.main-logo .main-logo-img{
  display: none;
}

.logo{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.right{
  display: flex;
  background: #fff;
  border-radius: 0.5vw;
  padding: 12px 20px;
  align-items: center;
  color: #333;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 3px 3px 5px rgb(0 0 0 / 10%);
  font-weight: bold;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.75);
  border-radius: 1vw;
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
  padding: 5vh 2vw 1vh 2vw;
  box-shadow: 5px 10px 15px rgba(0,0,0,0.15);
  backdrop-filter: blur(15px);
  border: 1px solid #dadada;
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 4rem 0;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #77faff 0%,
    #7affde 0%,
    #05e299 21%,
    #03e762 52%,
    #50c900 78%,
    #15ff00 100%
  );
  background-size: 400% 400%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left,#005BC1, #3688ec);
  font-size: 18px;
  background-size: 400% 400%;
  animation: gradient-animation 3s ease infinite;
  /* margin: 50px 10px; */
  border-radius: 0.5vw;
  padding: 0px 2rem;
}

.mint-button:hover{
  color: #f9c900;
}

.mint-button:disabled{
  background: #03dab6;
  color: rgb(209, 209, 209);
  cursor: not-allowed;
  pointer-events: none;
}

.mint-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button{
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3px;
  top: 20px;
  border: 0px;
  font-size: 12px;
  background-color: transparent;
}

.edit-icon{
  width: 12px;
}


.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.form-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 3rem 0;
}

input{
  border: 0;
  border-radius: 0.5vw;
  background-color: #fafafa;
  color: #333;
  letter-spacing: 1px;
  font-size: 26px;
  max-width: 400px;
  padding: 10px 20px 20px 20px;
  text-align: center;
  border:1px solid #ddd;
  font-weight: bold;

}

input::placeholder {
  color: rgba(0,0,0,0.15);
}

input:focus {
  outline: none;
}

.first-row{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}

.current-price{
  color: rgba(0,0,0,0.5);
  margin-top: -16px;
  font-size: 14px;
}

.tld {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  /* left: -70px; */
  right: 22px;
  margin: 0;  
  padding: 0;
  margin-bottom: 13px;
}

.github-link{
  color:#777;
  text-decoration: none;
  margin: 1rem 0 0 0;
}

.github-link:hover{
  color: #333;
}

.social{
  display: flex;
  margin-top: 2rem;
}

.social .social-link{
  height: 18px;
  padding: 0 10px;
  opacity: 0.65;
  cursor: pointer;
}

.social .social-link:hover{
  opacity: 1;
}

.social .social-link .social-link-img{
  height: 100%;
}

.mint-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mint-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 15px;
  font-size: 18px;
  background-color: #c4b7fa;
  color: black;
  min-width: 150px;
  max-width: fit-content;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.2);
}

/* Different background-colour for every nth mint-item */
.mint-item:nth-child(2n) {
  background-color: lightblue;
}

.mint-item:nth-child(3n) {
  background-color: lightpink;
}

.mint-item:nth-child(5n) {
  background-color: lightgreen;
}

.link{
  color: black;
  text-decoration: none;
}

.underlined{
  text-decoration: underline;
}

.underlined:hover{
  cursor: pointer;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
   
  }
  .isa_info {
      color: #00529B;
      background-color: #BDE5F8;
  }
  .isa_success {
      color: #4F8A10;
      background-color: #DFF2BF;
  }
  .isa_warning {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .isa_error {
      color: #D8000C;
      background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  }

  @media only screen and (max-width: 600px) {
    .center{
      left:initial;
      right:initial;
      background: transparent;
      box-shadow: none;
      backdrop-filter: none;
      border:none;
      position: relative;
      transform: none;
      top: initial;
      padding: 20px 5px 50px 5px;
    }

    .container{
      justify-content: start;
    }

    .container::before{
      content: '';
      position: absolute;
      left: 0;
      top:0;
      width: 100vw;
      height: 100%;
      background-color: rgba(255,255,255,0.9);
    }

    .main-logo .main-logo-img{
      display: initial;
    }

    .main-logo .main-logo-img-text{
      display: none;
    }

    .title{
      font-size: 28px;
    }

    .subtitle{
      font-size: 16px;
    }

    input{
      max-width: none;
    }

    header{
      padding: 0 5px;
    }

    .mint-button{
      width: 100%;
    }
  }